// // solid background
body {
	background-color: #f1f1f1;
   
}

p, h1, h2, h3, h4 {
    color: #212121;
}

h2, h3, h4 {
    font-family: 'Rubik';
}

p {
    font-size:16px;
}
// gradient animated background
// body {
// 	background: linear-gradient(-45deg, #A3CCCE, #D1EDEC, #aed3e0, #98e6d3);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// 	height: 100vh;
// }
// @keyframes gradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }

//needed for dashboards
.nav-link:hover {
    background-color: #525252 !important
}

.nav-link .fas {
    transition: all 1s
}

.nav-link:hover .fas {
    transform: rotate(360deg)
}

.nav-menu-link {
    color: black;
    text-decoration: none;
}
.nav-menu-link:hover {
    color: #21c187;
}


//bid validation ShopItems
#bid:valid {
	border-color: black;
}

#bid:invalid {
	border-color: red;
}

// nav tabs

.nav-tabs {
    background-color: #aec1f3;
    color: #eeeeee;
}

.nav-link {
    background-color: #aec1f3;
    color: #ffffff;
}

.nav-link .active {
    background-color: #ffffff;
    color: #aec1f3;
}

.nav-tabs:hover {
    color: #ffffff;
}

.nav-link:hover {
    background-color: #285ae8 !important;
    color: #ffffff;
}

.footer {
    background-color: #21c187;
    bottom:0;
    // position: relative;
    // margin-top: -150px; /* negative value of footer height */
    // height: 150px;
    // clear:both;
    // padding-top:20px;
}