@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.login-form {
    background-color: white;
    // border: solid 1px rgb(19, 19, 19);
    padding: 10px;
    border-radius: 10px;
}

.card {
    width: 30%;
    // border: solid 1px rgb(19, 19, 19);
    margin: 5px;
    padding: 10px;
}
.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }
.btr {
    border-top-right-radius: 5px !important
}

.btl {
    border-top-left-radius: 5px !important
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.nav-pills {
    display: table !important;
    width: 100%
}

.nav-pills {
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd40
}

.nav-item {
    display: table-cell;
    background: #0d6efd2e
}

.form {
    padding: 10px;
    height: 300px
}

.form input {
    margin-bottom: 12px;
    border-radius: 3px
}

.form input:focus {
    box-shadow: none
}

.form button {
    margin-top: 20px
}

//buttons

.btn-one {
    text-decoration: none! important;
    color: #185a9d;
    background: none;
    border: #185a9d 1px solid;
}

.btn-one:hover {
    text-decoration: none! important;
    color: #fff;
    background: linear-gradient(-135deg, #43cea2, #185a9d);
	transition: transform 400ms ease-in;
    border: none;
}

.btn-two {
    text-decoration: none;
    color: #fff;
    background: rgba(59,173,227,1);
    background: linear-gradient(45deg,#43cea2, #185a9d);
    border: none;

    
}

.btn-two:hover {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(-135deg, #43cea2, #185a9d);
	transition: transform 100ms ease-in;
    border: none;
}

.btn-three {
    text-decoration: none;
    color: #fff;
    background: #3E8E6D;
    border: none;

    
}

.btn-three:hover {
    text-decoration: none;
    color: #fff;
    background: #185a9d;
	transition: transform 400ms ease-in;
    border: none;
}


.btn-four {
    text-decoration: none;
    color: #fff;
    background: #185a9d;
    border: none;

    
}

.btn-four:hover {
    text-decoration: none;
    color: #fff;
    background: #3E8E6D;
	transition: transform 400ms ease-in;
    border: none;
}

// shop item styling

.giveblue-font {
    color: #175b9d;
}
// card glow border with gradient

.GradientBorder {
    position: relative;
    }

// .GradientBorder::after {
//     content: '';
//     position: absolute;
//     top: -5px;
//     left: -5px;
//     right: -5px;
//     bottom: -5px;
//     background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
//     border-radius: 10px;
//     z-index: -1;
// }

.GradientBorder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #43cea2, #185a9d);
    z-index: -2;
    filter: blur(20px);
}

// dashboard blocks
.overview-block {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// wishlist items page
.todo
{
    width: 100%;
    line-height: 35px;
    border-bottom: grey solid 1px;
}
.closebutton {
    margin: 0;
    color: red;
    font-weight: 200;
    float: right;
    cursor: pointer;
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms;
}

.todo:hover > .closebutton {
    opacity: 100%;

}
.inputfield {
    border:none;
    border-bottom: 1px solid #595a5c;
    padding: 5px 10px;
    outline: none;
}

// poduct page

.product-img-block {
    width: 500 px;
    height: 500px;
    object-fit: cover;
    background-color:#FFFFFF;
    overflow: hidden;
    border: #195b9e solid 2px;
    border-radius: 10px;
}

.product-info-block {
    width: 50%;
    height: 500px;
    background-color:#FFFFFF;
    margin-top:10px;
    border: #195b9e solid 2px;
    border-radius: 10px;
}

